<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <style>
        .gradient-custom {
            background-image: url('../static/images/login_bb.gif');
            /* Replace 'your-image-url.jpg' with the path to your image */
            background-size: cover;
            background-position: center;
        }
    
        /* Updated style for the Login heading */
        .login-heading {
            font-size: 2.5rem; /* Increase font size */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
        }

        /* Adjust transparency of the card background */
        .card-transparent {
            background: rgba(64, 107, 141, 0.7); /* Adjust the alpha value (0.7 in this case) for transparency */
        }
    </style>
    
</head>

<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card text-white card-transparent" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">
                                    <img src="../static/images/logo_new.png" width="200px">
                                    <h2 class="fw-bold mb-2 text-uppercase login-heading">Login</h2>

                                <p class="text-white-50 mb-5">Please enter your login and password!</p>
                                <form action="#" method="post">
                                    {{ form.hidden_tag() }}
                                    <div class="form-outline form-white mb-4">
                                        {{ form.email.label(class='form-control-label') }}
                                        {% if form.email.errors %}
                                        {{ form.email(class='form-control is-invalid') }}
                                        <div class="form-group">
                                            {% for error in form.email.errors %}
                                            <span> {{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.email(class='form-control') }}
                                        {% endif %}
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        {{ form.password.label(class='form-control-label') }}
                                        {% if form.password.errors %}
                                        {{ form.password(class='form-control is-invalid') }}
                                        <div class="form-group">
                                            {% for error in form.password.errors %}
                                            <span> {{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.password(class='form-control') }}
                                        {% endif %}
                                    </div>

                                   
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                                </form>
                            </div>
                            <div>
                                <p class="mb-0">Don't have an account? <a href="{{ url_for('registeration') }}"
                                        class="text-white-50 fw-bold">Sign
                                        Up</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>
