{% extends "base.html"%}
{% block content%}
<div class="container mt-auto align-items-center">
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag()}}
        <fieldset class="form-group" style="width: 60%;">
            <legend class="border-bottom mb-4"> Create an Account</legend>
            <div class="form-group">
                {{ form.cv.label(class='form-control-label')}}
                {% if form.cv.errors%}
                {{ form.cv(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.cv.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.cv(class='form-control form-control-lg')}}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.fname.label(class='form-control-label')}}
                {% if form.fname.errors%}
                {{ form.fname(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.fname.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.fname(class='form-control form-control-lg')}}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.lname.label(class='form-control-label')}}
                {% if form.lname.errors%}
                {{ form.lname(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.lname.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.lname(class='form-control form-control-lg')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.username.label(class='form-control-label')}}
                {% if form.username.errors%}
                {{ form.username(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class='form-control form-control-lg')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.email.label(class='form-control-label')}}
                {% if form.email.errors%}
                {{ form.email(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class='form-control form-control-lg')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.linkedin.label(class='form-control-label')}}
                {% if form.linkedin.errors%}
                {{ form.linkedin(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.linkedin.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.linkedin(class='form-control form-control-lg')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.country.label(class='form-control-label')}}
                {% if form.country.errors%}
                {{ form.country(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.country.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.country(class='form-control form-control-lg')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.phone.label(class='form-control-label')}}
                {% if form.phone.errors%}
                {{ form.phone(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.phone.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.phone(class='form-control form-control-lg')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.seniority_level.label(class='form-control-label')}}
                {% if form.seniority_level.errors%}
                {{ form.seniority_level(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.seniority_level.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.seniority_level(class='form-control form-control-lg')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.current_position.label(class='form-control-label')}}
                {% if form.current_position.errors%}
                {{ form.current_position(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.current_position.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.current_position(class='form-control form-control-lg')}}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label(class='form-control-label')}}
                {% if form.password.errors%}
                at least [lower,upper,digit,special] char
                {{ form.password(class='form-control form-control-lg is-invalid')}}
                Password must contain:- At least one lowercase letter (a-z),(A-Z), (0-9), (@$!%*?&_) Be between 8
                and 32 characters long
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class='form-control form-control-lg')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class='form-control-label')}}
                {% if form.confirm_password.errors%}
                {{ form.confirm_password(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class='form-control form-control-lg')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-info')}}
            </div>
        </fieldset>
    </form>
    <div class="broder-top pt-3">
        <small class="text-muted">
            Already have an Account?
            <a href="{{url_for('login')}}" class="ml-2">Sign in</a>
        </small>
    </div>
</div>
{% endblock content%}